{% extends 'base.html' %}


<title>{% block title %} USER DETAILS {% endblock %}</title>



{% block content %} 

<!--this will have the photo  and a button for editing and 
a button for deleting user-->
<h1> {{user.first_name}} {{user.last_name}}</h1>
{% if user.image_url %}
<div>
<img src="{{ user.image_url }}">

</div>
{% endif %}

<form>
<button id="edit_btn" formaction="/users/{{user.id}}/edit" formmethod="GET">EDIT</button>  


<button id="delete_btn" formaction="/users/{{user.id}}/delete" formmethod="POST">DELETE</button>
</form>

<div id="post_container">
<h1>POSTS</h1>


<ul> 
{% for post in user.posts %}
<li>
    <a href="/posts/{{ post.id}}">{{ post.title }}</a>
    </li>
{% endfor %}
</ul>

<form>
<button formaction="/users/{{user.id}}/posts/new">Add Post</button>
</form>
</div>



{% endblock %}